<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	

	<bean id="gorevBean" class="com.furkankara.Emniyet"></bean>
	
	<bean id="memurBean" class="com.furkankara.Polis">
		<constructor-arg ref="gorevBean"></constructor-arg>
	</bean>
	
	
</beans>
